.title {
  margin-top: 0px;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}

.cardContent {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
}

.input {
  padding: 0.5rem;
  display: block;
  margin-bottom: 1rem;
  margin-left: 0px;
}

.form {
  text-align: center;
}